[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/travis-4.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

parts+=
    regular-coverage
    regular-coverage-sh

[regular-coverage]
recipe = zc.recipe.egg
eggs = createcoverage

[regular-coverage-sh]
recipe = collective.recipe.template
output = ${buildout:directory}/bin/coverage.sh
mode = 755
input = inline:
    #! /bin/sh
    bin/coverage run bin/test
